<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SimpleOCaml.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SimpleOCaml.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <SimpleOCaml.My.MySettings>
      <setting name="Font_Family" serializeAs="String">
        <value>Courier New</value>
      </setting>
      <setting name="Font_Style" serializeAs="String">
        <value>Regular</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Ocaml_Lib" serializeAs="String">
        <value>.\ocaml64\miniocaml\lib</value>
      </setting>
      <setting name="Detailed_Output" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Ocaml_Exe" serializeAs="String">
        <value>.\ocaml64\miniocaml\bin</value>
      </setting>
      <setting name="Autosave" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Autosave_delay" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="Font_Size" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="Code_Folding" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="StartupOptions" serializeAs="String">
        <value />
      </setting>
    </SimpleOCaml.My.MySettings>
  </userSettings>
  <applicationSettings>
    <SimpleOCaml.My.MySettings>
      <setting name="Version" serializeAs="String">
        <value>v1.2</value>
      </setting>
    </SimpleOCaml.My.MySettings>
  </applicationSettings>
</configuration>